/* ============================== go_top */
.go_top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 50px;
  color: var(--gray);
  cursor: pointer;
  display: none;
}

/* ============================== nav  */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.nav .container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.nav h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
  margin-right: 30px;
}

.nav .btn {
  background: var(--pink);
  color: #fff;
  margin-right: auto;
}

.nav .menu {
  display: flex;
}

.nav .menu a {
  display: block;
  height: 60px;
  line-height: 60px;
  margin-left: 50px;
  font-size: 14px;
  font-weight: 700;
}

.nav .menu a:hover {
  color: var(--pink);
  transition: color 0.3s;
}

.header {
  background: var(--white);
}

.header .snowman,
.header .snow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header .snowman {
  width: 500px;
}

.header .snow {
  width: 780px;
  opacity: 0;
  animation: grow 0.8s 0.8s 2 forwards;
}

.header h2 {
  text-align: center;
  line-height: 1.5;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.header i {
  font-size: 50px;
  color: var(--pink);
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.header i:hover {
  color: var(--gray);
}

/* ============================== 프로필 모달  */
.white-popup {
  position: relative;
  background: #fff;
  padding: 50px 0;
  width: auto;
  max-width: 820px;
  border-radius: 12px;
  border: 2px solid var(--pink);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}

.pop_up_box {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info_01 {
  text-align: center;
  margin-right: auto;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: coral;
  align-items: center;
}

.white-popup h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}

.white-popup p {
  font-size: 14px;
  color: var(--black);
  font-weight: 400;
  line-height: 2rem;
}

.white-popup span {
  font-weight: 700;
}

.info_03 {
  margin-top: 50px;
}

/* ==================== 원 그래프 */
.circle-chart__circle {
  animation: circle-chart-fill 2s reverse; /* 1 */
  transform: rotate(-90deg); /* 2, 3 */
  transform-origin: center; /* 4 */
}

.circle-chart__circle--negative {
  transform: rotate(-90deg) scale(1, -1); /* 1, 2, 3 */
}

.circle-chart__info {
  animation: circle-chart-appear 2s forwards;
  opacity: 0;
  transform: translateY(0.3em);
}

.white-popup section {
  text-align: center;
}

.white-popup section p {
  font-size: 12px;
}

.grid {
  display: grid;
  grid-column-gap: 1.5em;
  /* grid-row-gap: 1em; */
  grid-template-columns: repeat(1, 1fr);
}

@keyframes circle-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 31em) {
  .grid {
    grid-template-columns: repeat(7, 1fr);
  }
}
/* ==================== 원 그래프 끝*/

.mfp-close-btn-in .mfp-close {
  font-size: 50px;
  color: #ff7675;
}

/* ============================== section_01  */

.section_01 h2 {
  text-align: center;
}

.section_01 p {
  margin-bottom: 50px;
}

.section_01 .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section_01 img {
  width: 300px;
  margin-bottom: 30px;
}

.section_01 p {
  text-align: center;
  margin-bottom: 30px;
}

.section_01 .btn {
  margin: 0 auto;
}

/* ============================== section_02  */

.section_02 {
  background: var(--white);
}

.section_02 p {
  margin-bottom: 50px;
}

.section_02 .items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.section_02 .items .item {
  position: relative;
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
}

.section_02 .items .item {
  width: 250px;
  height: 300px;
  overflow: hidden;
  margin: 0 auto;
}

.section_02 h3 {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  font-size: 20px;
}

.line_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 20%;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.3s;
}

.section_02 .item i {
  color: #fff;
  position: absolute;
  top: 120%;
  left: 50%;
  font-size: 46px;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}

.section_02 .span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.3s;
}

.section_02 .items .item:hover .span {
  opacity: 1;
}

.section_02 .items .item:hover h3,
.section_02 .items .item:hover .line_box {
  top: -20%;
}

.section_02 .items .item:hover i {
  top: 50%;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
  padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
  padding: 0;
}

img.mfp-img {
  /* max-height: 2000px !important; */
}

/* ============================== section_03  */
.section_03 p {
  margin-bottom: 50px;
}

.section_03 .cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
}

.section_03 .card {
  width: 200px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  transition: all 0.3s;
  cursor: pointer;
}

.section_03 .card:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
  transform: scale(1.2);
}

/* ============================ section_03 modal */

.app_modal_01 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  overflow-y: auto;
  display: none;
}

.app_modal {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  z-index: 10;
  overflow-y: auto;
}

.app_modal li {
  width: 375px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
}

/* ============================== section_04  */
.section_04 {
  background: var(--white);
}

.section_04 img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin: 0 auto;
}

/* 슬릭 */
.slick-dotted.slick-slider {
  margin: 50px 0;
}

.slick-prev:before,
.slick-next:before {
  color: var(--gray);
  font-size: 50px;
  line-height: 50px;
}

.slick-prev:before {
  margin-left: -30px;
}

.slick-dots {
  margin: -20px 0;
}

.slick-initialized .slick-slide {
  outline: none;
}

/* ============================== footer  */
.footer {
  height: 60px;
  text-align: center;
  line-height: 60px;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.05);
}

/* ============================== */

/* .not_scroll {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.not_scroll .cont {
  position: relative;
  top: 0;
} */

/* ============================== 애니메이션 */
@keyframes grow {
  100% {
    opacity: 1;
  }
}
